* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Raleway', sans-serif;
}

.row {
   margin: 0 auto;
   width: 1200px;
   height: auto;
   
}

.row::after {
   clear: both;
   display: block;
   content: '';
}

.blue_text {
   color: mediumaquamarine;
   font-weight: 700;
}

header {
   width: 100%;
   height: 50px;
   background-color: black;
}

#header_text {
   color: white;
   padding: 15px;
   float: left;
}

header ol {
   color: white;
   list-style: none;
   display: inline-block;
   float: right;
   padding: 20px 15px;
}

ol > li {
   float: left;
   list-style: none;
   padding: 15px 10px;
   font-weight: 700;
   
   
}


ol#header_list li {
   list-style: none;
   padding: 10px 20px;
}

/* First selector */

#first_section {
   height: 650px;
   width: 100%;
   background-color: whitesmoke;
}

.switch_left {
   color: mediumaquamarine;
   font-size: 90px;
   float: left;
   margin: 260px -40px 260px 0;
}

#black_chair {
   width: 600px;
   height: 450px;
   margin: 120px -40px 40px -40px;
   display: inline;
   float: left;
}

#first_section_div {
   margin: 10px;
   float: left;
   width: auto;
   height: auto;
   margin: -20px 0 200px 0;
}

h1 {
   font-size: 50px;
   text-align: center;
   padding: 200px 0 20px 0;
   font-weight: 400;
}

.first_section_p {
    
   text-align: center;
   font-size: 17px;
   line-height: 25px;
}

.first_section_button {
   background-color: mediumaquamarine;
   width: 280px;
   height: 55px;
   border: none;
   font-size: 24px;
   border-radius: 10px;
   color: white;
   float: left;
   margin: 30px 0 0 135px;
}


.switch_right {
   display: inline-block;
   color: mediumaquamarine;
   font-size: 90px;
   margin-top: 250px;
   margin-left: 50px;
}

/* Second Selector */

#second_section {
   height: 360px;
   width: 100%;
   background-color: white;
}

.text_in_photo {
   background-color: rgba(255, 255, 255, 0.5);
   font-weight: 700;
   height: 30px;
   margin-top: 160px;
   padding: 10px 10px 20px 10px;
}

 .text_line {
   height: 8px;
   width: 150px;
   background-color: mediumaquamarine;
}


#first_photo {
   width: 329px;
   height: 225px;
   background-image: url("../images/box1_img.jpg");
   margin: 5px 15px 0 75px;
   float:left;
}

#second_photo {
   width: 329px;
   height: 225px;
   background-image: url("../images/box2_img.jpg");
   margin: 5px 15px 0 15px;
   float: left;
}

#second_section_container {
   float: left;
    width: 329px;
   height: 240px;
   border: 1px solid lightgray;
   margin: 5px 75px 0 15px;
   display: block;
}

#second_section_container h2 {
   padding: 30px 0 0 10px;
   font-size: 18px;
}

#second_section_container p.text_line {
   margin-left: 10px;
   margin-bottom: 20px;
}

#second_section_container p {
   text-align: left;
   font-size: 15px;
   color: gray;
   margin: 0 10px 30px 10px;
}

/* Price list selector */

#price {
   width: 100%;
   height: 500px;
   background-color: lightgray;
   opacity: 0.4;
}