* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Raleway', sans-serif;
}

.row {
   margin: 0 auto;
   width: 1200px;
   height: auto;
}

.row::after {
   clear: both;
   display: block;
   content: '';
}

.blue_text {
   color: mediumaquamarine;
   font-weight: 700;
}

header {
   width: 100%;
   height: 50px;
   background-color: black;
}

#header_logo {
   color: white;
   padding: 15px;
   float: left;
}

header ol {
   color: white;
   list-style: none;
   display: inline-block;
   float: right;
   padding: 20px 15px;
}

ol > li {
   float: left;
   list-style: none;
   padding: 15px 10px;
   font-weight: 600;
   
   
}


ol#header_list li {
   list-style: none;
   padding: 10px 20px;
}

/* First selector */

#first_section {
   height: 650px;
   width: 100%;
   background-color: whitesmoke;
}

.switch_left {
   color: mediumaquamarine;
   font-size: 90px;
   float: left;
   margin: 260px -40px 260px 0;
}

#black_chair {
   width: 600px;
   height: 450px;
   margin: 120px -40px 40px -40px;
   display: inline;
   float: left;
}

#first_section_div {
   margin: 10px;
   float: left;
   width: auto;
   height: auto;
   margin: -20px 0 200px 0;
}

h1 {
   font-size: 50px;
   text-align: center;
   padding: 200px 0 20px 0;
   font-weight: 400;
}

.first_section_p {
    
   text-align: center;
   font-size: 17px;
   line-height: 25px;
}

.first_section_button {
   background-color: mediumaquamarine;
   width: 280px;
   height: 55px;
   border: none;
   font-size: 24px;
   border-radius: 10px;
   color: white;
   float: left;
   margin: 30px 0 0 135px;
}


.switch_right {
   display: inline-block;
   color: mediumaquamarine;
   font-size: 90px;
   margin-top: 240px;
   margin-bottom: 260px;
   margin-left: 50px;
}

/* Second Selector */

#second_section {
   height: 360px;
   width: 100%;
   background-color: white;
}

.text_in_photo {
   background-color: rgba(255, 255, 255, 0.5);
   font-weight: 700;
   height: 30px;
   margin-top: 160px;
   padding: 10px 10px 20px 10px;
}

 .text_line {
   height: 8px;
   width: 150px;
   background-color: mediumaquamarine;
}


#first_photo {
   width: 329px;
   height: 225px;
   background-image: url("../images/box1_img.jpg");
   margin: 5px 15px 0 75px;
   float:left;
}

#second_photo {
   width: 329px;
   height: 225px;
   background-image: url("../images/box2_img.jpg");
   margin: 5px 15px 0 15px;
   float: left;
}

#second_section_container {
   float: left;
    width: 329px;
   height: 240px;
   border: 1px solid lightgray;
   margin: 5px 75px 0 15px;
   display: block;
}

#second_section_container h2 {
   padding: 30px 0 0 10px;
   font-size: 18px;
}

#second_section_container p.text_line {
   margin-left: 10px;
   margin-bottom: 20px;
}

#second_section_container p {
   text-align: left;
   font-size: 15px;
   color: gray;
   margin: 0 10px 30px 10px;
}

/* Price list selector */

#price {
   width: 100%;
   height: 700px;
   background-color: rgb(230, 230, 230);
}

#price h2 {
   padding-top: 20px;
   font-weight: 400;
   color: dimgray;
   margin-left: 75px;
}

.longer_text_line {
   height: 8px;
   width: 300px;
   margin-left: 75px;
   background-color: mediumaquamarine;
}

.price_container_gray {
   border: 2px solid lightgray;
   width: 300px;
   height: 500px;
   margin: 50px 75px;
   background-color: whitesmoke;
   display: inline-block;
   float: left;
}


.price_container_blue {
   border: 2px solid mediumaquamarine;
   width: 300px;
   height: 500px;
   display: inline-block;
   background-color: mediumaquamarine;
   float: left;
   margin: 50px -15px;
}

.outterBall {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 2px solid lightgray;
   position: relative;
   left: 125px;
   bottom: 30px;
   background-color: white;
}

.innerBall {
   width: 25px;
   height: 25px;
   border-radius: 100%;
   background-color: lightgray;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.outterBall_blue {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: none;
   position: relative;
   left: 125px;
   bottom: 30px;
   background-color: mediumaquamarine;
}

.innerBall_white {
   width: 25px;
   height: 25px;
   border-radius: 100%;
   background-color: white;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.priceBall {
   width: 110px;
   height: 110px;
   border-radius: 100%;
   border: 2px solid lightgray;
   position: relative;
   left: 90px;
   bottom: 70px;
   background-color: white;
   text-align: center;
}

.priceBall_blue {
   width: 110px;
   height: 110px;
   border-radius: 100%;
   border: 2px solid mediumaquamarine;
   position: relative;
   left: 90px;
   bottom: 70px;
   background-color: white;
   text-align: center;
}

.blue_plan_text {
   color: mediumaquamarine;
   width: 100%;
   text-align: center;
   font-size: 22px;
   font-weight: 400;
   margin-top: 70px;
   width: 300px;
   position: relative;
   bottom: 90px;
}

.white_plan_text {
   color: white;
   width: 100%;
   text-align: center;
   font-size: 22px;
   font-weight: 400;
   margin-top: 70px;
   width: 300px;
   position: relative;
   bottom: 90px;
}

.priceBall p {
   padding-top: 20px;
   color: darkgray;
   font-size: 30px;
   font-weight: 700;
}

.priceBall_blue p {
   padding-top: 20px;
   color: mediumaquamarine;
   font-size: 30px;
   font-weight: 700;
}

.priceBall span {
   color: darkgray;
   font-size: 15px;
   font-weight: 700;
   margin-bottom: 40px;
   position: relative;
   bottom: 10px;
}

.priceBall_blue span {
   color: mediumaquamarine;
   font-size: 15px;
   font-weight: 700;
   margin-bottom: 40px;
   position: relative;
   bottom: 10px;
}
   
.dark_gray_line {
   width: 100%;
   padding: 10px 0;
   background-color: lightgray;
   text-align: center;
   color: gray;
   font-size: 20px;
}

.gray_line {
   width: 100%;
   background-color: rgb(235,235,235);
   padding: 10px 0;
   text-align: center;
   color: gray;
   font-size: 20px;
}

.white_line {
   width: 100%;
   padding: 10px 0;
   background-color: white;
   text-align: center;
   color: gray;
   font-size: 20px;
}

#green_left_button {
   width: 120px; 
   height: 30px;
   border: none;
   border-radius: 10px;
   position: relative;
   top: 100px;
   left: 90px;
   background-color: mediumaquamarine;
   color: white;
}

#green_right_button {
   width: 120px; 
   height: 30px;
   border: none;
   border-radius: 10px;
   position: relative;
   top: 14px;
   left: 90px;
   background-color: mediumaquamarine;
   color: white;
}

.white_button {
   width: 120px; 
   height: 30px;
   border: none;
   border-radius: 10px;
   position: relative;
   top: 60px;
   left: 90px;
   background-color: white;
   color: mediumaquamarine;
}

/* Contact selector */

#contact {
   width: 100%;
   height: 600px;
   background-color: white;
}

#contact h2 {
   padding-top: 30px;
   font-weight: 400;
   color: dimgray;
   margin-left: 75px;
}

.form {
   float: left;
   display: inline-block;
   width: 666px;
}

#name {
   margin: 50px 0 10px 75px;
   width: 590px;
   height: 40px;
   font-size: 35px;
   opacity: 0.5;
   padding: 10px 10px;
   font-weight: 300;
}

#email {
   margin: 10px 0 10px 75px;
   width: 590px;
   height: 40px;
   font-size: 35px;
   opacity: 0.6;
   padding: 10px 10px;
   font-weight: 300;
}

#message {
   margin: 10px 0 10px 75px;
   width: 590px;
   height: 200px;
   font-size: 30px;
   opacity: 0.6;
   padding: 10px 10px;
   font-weight: 300;
}

#red_chair {
   margin-left: 120px;
   margin-top: 30px;
}

#ok {
   float: left;
   margin-left: 80px;
   margin-right: 15px;
   border: 1px solid mediumaquamarine;
   width: 50px;
   height: 50px;
}

#approve {
   
   display: inline-block;
   height: 80px;
   width: 310px;
   color: darkgray;
   font-size: 22px;   
}

#send {
   margin-left: 80px;
   margin-top: 20px;
   width: 360px;
   height: 80px;
   background-color: mediumaquamarine;
   color: white;
   font-size: 35px;
   text-align: center;
   border: none;
   border-radius: 15px;
   clear:both;
}

footer {
   margin-bottom: 40px;
   margin-left: 140px;
   color: darkgray;
   font-size: 18px;
}
footer p {
   float: left;
}

.icon {
   float: left;
   margin: 2px;
   position: relative;
   bottom: 10px;
   left: 245px;
}

.footer_logo {
   float: left;
   margin-left: 330px;
   font-size: 22px;
}