@import "src/scss/reset";
@import "src/scss/section_slider";
@import "src/scss/section_gallery";
@import "src/scss/section_prices";
@import "src/scss/section_contact";
@import "src/scss/footer";

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: white;
}

.blue_text {
   color: mediumaquamarine !important;
   font-weight: 700; 
}