.gallery_section {
    margin: 0 -15px;
    padding: 130px 0;

    .figure {
        width: 100%;
        height: auto;
        max-width: 337px;
        max-height: 237px; 
        position: relative;
        margin: 15px auto;

        img {
            max-width: 100%;
            height: auto;
        }

        &:hover {
            .caption {
                opacity: 0;
            }
        }

        .caption {
            position: absolute;
            bottom: 35px;
            background-color: rgba(255, 255, 255, 0.5);
            font-weight: 700;
            width: 100%;
            max-width: 329px;
            height: auto;
            max-height: 50px;
            padding: 10px 0 20px 10px;
            opacity: 1;
            transition: .5s ease;
        }
    }

    .text_line {
        height: 6px;
        width: 66%;
        max-width: 200px;
        background-color: mediumaquamarine;
    }

    .gallery_section_text_container {
        width: 100%;
        max-width: 337px;
        height: auto;
        min-height: 225px;
        margin: 15px auto;
        border: 1px solid lightgray;
        
        h2 {
            padding: 25px 0 0 10px;
            font-size: 22px;
        }
        
        .text_line {
            margin-left: 10px;
            margin-bottom: 10px;
        }
            
        p {
            text-align: left;
            font-size: 15px;
            color: gray;
            padding: 0 10px;
        }
    }
}